.siteLayout {
  margin-left: 200px;
}

.content {
  margin: 74px 16px 0;
  overflow: initial;
}

.header {
  padding: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 24px;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: 0;
}

.toggleSiderCollapsed {
  display: none;
}

@media(max-width: 991px) {
  .header {
    padding: 24px 0;
  }

  .siteLayout {
    margin-left: 0;
  }

  .sider {
    margin-top: 64px;
    height: calc(100vh - 64px);
  }

  .toggleSiderCollapsed {
    display: inline-block;
  }
}

.logo {
  padding: 15px;
}