.siteLayout {
  margin-left: 250px;
  margin-bottom: 70px;
  position: relative;
}

.header {
  position: fixed;
  z-index: 2;
  width: calc(100% - 250px);
  padding: 0 16px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(62, 62, 80);
}

@media(max-width: 1023px) {
  .header {
    width: 100%;
  }

  .siteLayout {
    margin-left: 0;
  }
}