.bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 50px);
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: 300;
}