.nav {
  height: 70px;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.logo {
  width: 50px;
}

.link {
  color: white;
}