.content {
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: center;
}

@media(max-width: 900px) {
  .content {
    /* height: 600px; */
  }
}

@media(max-width: 767px) {
  .content {
    height: 350px;
  }
}