.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 3;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: var(--secondary-text-color);
}

.caption {
  color: var(--secondary-text-color);
  font-size: 1.1rem;
}

.toolIcon {
  height: 1.3em;
  position: relative;
  bottom: 3px;
}

.projectIcon {
  height: 4em;
}

.textInherit {
  color: inherit;
}

.textPrimary {
  color: var(--primary-color);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.dF {
  display: flex;
}

.aICenter {
  align-items: center;
}

.flexWrap {
  flex-wrap: wrap;
}

.borderBox {
  box-sizing: border-box;
}

.jCCenter {
  justify-content: center;
}

.jCBetween {
  justify-content: space-between;
}

.jCEnd {
  justify-content: flex-end;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb30 {
  margin-bottom: 3rem;
}

.mb40 {
  margin-bottom: 4rem;
}

.cursorPointer {
  cursor: pointer;
}

.rightSeparator::after {
  content: '|';
  margin: 0 15px;
}

.col6 {
  width: 50%;
}

.col4 {
  width: 33%;
}

.preWrap {
  white-space: pre-wrap
}

@media(max-width: 50rem) {
  .col4 {
    width: 100%;
  }
}

@media(max-width: 767px) {
  .col6 {
    width: 100%;
  }
}

.p03 {
  padding: 0 2rem 0 0;
}

